<div id="product-section">
    <div class="container">
    <div class="row">
        <!-- single product -->

        <!-- single product -->
<% product.forEach((item) => { %>
        <div class="col-lg-4 ">

            <div class="single-product">
                <div class="product-image-container">
                    <img class="product-image" src="../productImages/<%= item.images[0]%>" alt="Product 1">
                </div>
                <div class="product-details">
  <small><%=item.category.categoryName%></small>
  <h6 title="<%=item.productName %>" class="tooltip-ellipsis"><%=item.productName %></h6>


                    <div class="price">
                        <h6><i class="fa fa-inr" aria-hidden="true"> </i> <%= item.price%></h6>
                    
                    </div>
                    <div class="prd-bottom">

                        <a onclick="addtocart('<%=item._id%>')" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">add to bag</p>
                        </a>
                        <a onclick="addToWishList('<%=item._id%>')" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Wishlist</p>
                        </a>
                        <a href="/product?id=<%=item._id %>" class="social-info">
                            <span class="lnr lnr-move"></span>
                            <p class="hover-text">view more</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
<% }) %>
        <!-- single product -->

        <!-- single product -->
        
        <!-- single product -->
    
        <!-- single product -->
    </div>
  </div>
</div>